body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}


a {
  text-decoration: none;
  color: black;
  padding: 10px;
}



header nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;

header nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  padding: 20px;
}

.recipe-card {
  background-color: rgba(255,0,0,0.3);
  color: Red;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.recipe-expanded {
  display: none;
}

#contact-us form input,
#contact-us form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}
  
<ul style="list-style-type: none; display: flex;">
  <li style="margin-right: 20px;"><a href="index.html">Home</a></li>
  <li style="margin-right: 20px;"><a href="popular-dishes.html">Popular Dishes</a></li>
  <li style="margin-right: 20px;"><a href="recipes.html">Recipes</a></li>
  <li style="margin-right: 20px;"><a href="our-history.html">Our History</a></li>
  <li><a href="contact-us.html">Contact Us</a></li>
</ul>

}
#contact-us form button {
  background-color: black;
  color: blue;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: purple;
  color: red;
  text-align: center;
  padding: 20px;
}
