/* Reset Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  }
  
  /* Header Styles */
  header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  }
  
  header h1 {
  margin: 0;
  font-size: 24px;
  }
  
  h2 {
  text-align: center;
  }
  
  header nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  }
  
  header nav li {
  margin-right: 20px;
  }
  
  header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  }
  
  header nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* Main Content Styles */
  
  main {
  max-width: auto;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  }
  
  .hero-section img {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .hero-section h2 {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
  }
  
  .hero-section p {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
    text-align: center;
  }

  
  
  .cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
  background-color: #555;
  }
  
  .usps {
  margin-bottom: 40px;
  }
  
  .usps h3 {
  font-size: 24px;
  margin-bottom: 10px;
  }
  
  .usps ul {
  list-style-type: none;
  margin: 100;
  padding: 0;
  }
  
  .usps li {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
  }
  
  .reviews {
  margin-bottom: 40px;
  text-align: center;
  }
  
  .reviews h3 {
  font-size: 24px;
  margin-bottom: 20px;
  }
  
  .reviews ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  .reviews li {
  margin-bottom: 20px;
  text-align: left;
  }
  
  .reviews p {
  font-size: 18px;
  color: #555;
  text-align: center;
  }
  
  .reviews p:last-child {
  margin-top: 10px;
  font-weight: bold;
  }
  
  .portfolio {
  margin-bottom: 40px;
  }
  
  .portfolio h3 {
  font-size: 24px;
  margin-bottom: 20px;
  }
  
  .portfolio ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  }
  
  .portfolio li {
  margin: 0 10px;
  }
  
  .portfolio img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  }
  
  .cta {
  margin-bottom: 40
  }

  .footer-bottom {
  position: fixed;
  }
}